@using RS1_P120_MobitelShop.ViewModel
@using RS1_P120_MobitelShop.Models
@model RS1_P120_MobitelShop.ViewModel.RegistrationVM
@{
    Layout = null;
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
@*<link href="~/Content/bootstrap.css" rel="stylesheet" />*@

@using (Ajax.BeginForm("Registration", "Autentifikacija", new AjaxOptions() { UpdateTargetId = "zaAjaxRegistraciju" }))
{
    <h2>Registracija korisnika</h2>
    <div class="form-group">
        <label>Username</label>
        @Html.TextBoxFor(model => model.Username, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Password</label>
        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
    </div>
    //dodano
    <div class="form-group">
        <label>Confirm Password</label>
        @Html.PasswordFor(model => model.PasswordConfirm, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.PasswordConfirm)
    </div>
    @*<div class="form-group">
            <label>Ime</label>
            @Html.TextBoxFor(model=> model.Ime,new{@class="form-control"})
        </div>
        <div class="form-group">
            <label>Prezime</label>
            @Html.TextBoxFor(model=> model.Prezime,new{@class="form-control"})
        </div>
        <div class="form-group">
            <label>Grad</label>
            @Html.DropDownListFor(model => model.GradId,Model.gradoviStavke, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Datum rođenja</label>
            @Html.TextBoxFor(model => model.DatumRodjenja, new { @class = "form-control datecontrol"})

        </div>
        <div class="form-group">
            <label>Telefon</label>
            @Html.TextBoxFor(model => model.Telefon, new { @class = "form-control" })
        </div>*@
    <div class="form-group">
        <label>E-mail</label>
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
    </div>
    @*<div class="form-group">
            <label>Adresa</label>
            @Html.TextBoxFor(model => model.Adresa, new { @class = "form-control"})
        </div>
        <div class="form-group">
            <label>Spol</label>
            @Html.TextBoxFor(model => model.Spol, new { @class = "form-control" })
        </div>*@
    <br />


    //OVDJE JE ZA RECAPTCHA
    <div class="g-recaptcha" data-sitekey="6LcfskAUAAAAAPNBXaiJwPcwf1pEUsrZLSBtEzki"></div>//site key ovdje
    <span style="display:inline-block">
        @ViewBag.Message
    </span>
    <input type="submit" value="Kreiraj profil" class="btn btn-info" />

    <script src="https://www.google.com/recaptcha/api.js" type="text/javascript"></script>

    @*<script src="~/Scripts/bootstrap.js"></script>*@
}