@model RS1_P120_MobitelShop.Areas.ModulKlijenti.ViewModel.ArtikliDetaljiVM
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Page 1</a></li> 
        </ul>
        <form class="navbar-form navbar-left" action="/action_page.php">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </form>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span>@Model.BrojArtikalaUKorpi</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </div>
</nav>
<div class="modal-body row">
    <div class="col-md-6">
        <!-- Your first column here --> 
        <img src="@Url.Content(@Model.Slika)" width=" 558" alt="@Model.Slika">
    </div> 
    <div class="col-md-6">
        <table class="table" style="margin-top:50px">
            <thead>
                <tr>
                    <th scope="col">Specifikacije</th>
                </tr>
            </thead>
            <tbody> 
                <tr>
                    <td>Operativni sistem</td>
                    <td>@Model.OperativniSistem</td>
                </tr>
                <tr>
                    <td>Eksterna memorija</td>
                    <td>@Model.EksternaMemorija</td>
                </tr>
                <tr>
                    <td>Ekran</td>
                    <td>@Model.Ekran</td>
                </tr>
                <tr>
                    <td>Rezolucija</td>
                    <td>@Model.Rezolucija</td>
                </tr>
                <tr>
                    <td>Vrsta ekrana</td>
                    <td>@Model.VrstaEkrana</td>
                </tr>
                <tr>
                    <td>Jezgra procesora</td>
                    <td>@Model.JezgreProcesora</td>
                </tr>
                <tr>
                    <td>Kamera</td>
                    <td>@Model.Kamera</td>
                </tr>
                <tr>
                    <td>Povezivanje</td>
                    <td>@Model.Povezivanje</td>
                </tr>
                <tr>
                    <td>RAM</td>
                    <td>@Model.RAM</td>
                </tr>
            </tbody>
        </table>
        @using (Html.BeginForm("Staviukorpi", "Korpa",new { ArtikalId= Model.ArtikalId, KlijentId=Model.KlijentId}))
        {
        <button type="submit" class="btn btn-primary btn-lg">Stavi u korpu</button>

        }
    </div>
</div>