@using RS1_P120_MobitelShop.Areas.ModulAdministracija.Models
@model RS1_P120_MobitelShop.Areas.ModulAdministracija.Models.ArtikalPrikaziVM
@{
    //Layout = null;
}

<div id="page-wrapper">
    <div style="margin-left:250px; margin-right:30px">

        <h1>Artikli</h1>

        @*<form>
            <b>Pretraga po tipu:</b> @Html.DropDownListFor(model => model.TipID, Model.tipoviStavke)
            <b>Pretraga po tipu :</b> @Html.TextBox("searchStringTip")
            <b>Cijena od:</b>   @Html.TextBox("CijenaOd")
            <b>Cijena do:</b>    @Html.TextBox("CijenaDo")
            <button type="submit" value="Prikaži" class="btn btn-success btn-sm">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>
        </form>*@
        <br />

        <div class="row">
            @foreach (ArtikalPrikaziVM.ArtikalInfo x in Model.artikal)
            {
                <div class="col-sm-6 col-md-3">
                        <br />
                    <div class="img-thumbnail">
                        <img src="@Url.Content(@x.slika)" class="img-thumbnail" style="width:240px;height:190px" />
                        <div class="caption">
                            <p><b>Marka telefona: </b>@x.marka</p>
                            <p> <h4><b>Model telefona : </b>@x.model</h4></p>
                            <p><b>Cijena: </b>@x.cijena KM</p>
                            <p><b>Šifra: </b>@x.sifraArtikla</p>
                            <p><b>Garancija: </b>@x.garancija</p>

                            <p>
                                @*@using (Ajax.BeginForm("Prikazi detalje","Artikal",new{},new AjaxOptions(){UpdateTargetId = "detalji"}, new { @style = "display: inline" }))
                                {
                                    
                                }*@
                                @Ajax.ActionLink("Detalji telefona", "Detalji", new { id = x.Id }, new AjaxOptions() { UpdateTargetId = "specifikacije" }, new { @class = "btn btn-info" })
                           @*@Html.ActionLink("Detalji", "Detalji", new { id = x.Id})*@
                            @Ajax.ActionLink("Uredi", "Uredi", new { id = x.Id }, new AjaxOptions() { UpdateTargetId = "specifikacije" }, new { @class = "btn btn-warning" })
                                </p>
                            <p>
                                @Html.ActionLink("Obriši", "Obrisi", new { id = x.Id }, new { @class = "btn btn-danger btn-block" })
                            </p>
                            @*<p>
                                @using (Ajax.BeginForm("Uredi", "Artikli", new { }, new AjaxOptions() { UpdateTargetId = "uredi" }, new { @style = "display: inline" }))
                                {
                                    @Html.Hidden("ArtikalId", @x.Id)
                                    <input type="submit" value="Uredi" class="btn btn-info btn-sm">
                                }
                                <a href="/ModulAdministratori/Artikli/Detalji?ArtikalId=@x.Id" class="btn btn-success btn-sm">
                                    <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
                                    Detalji
                                </a>

                                <a href="/ModulAdministratori/Artikli/Obrisi?ArtikalId=@x.Id" class=" btn btn-danger btn-sm">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>

                                </a>
                            </p>*@

                        </div>
                    </div>

                </div>
            }
        </div>
        </div>
</div>
<div id="specifikacije">
</div>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>