@model RS1_P120_MobitelShop.Areas.ModulAdministracija.ViewModels.KlijentiPrikaziVM
@using RS1_P120_MobitelShop.Areas.ModulAdministracija.ViewModels
@*@{
    Layout = null;
}*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @*<br />
        <div id="page-wrapper">
            <div style="margin-left: 130px; margin-right: -40px;font-size:12px; background-color:white;width:100%;height:100%">*@
    <br />
    <div class="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/ModulAdministracija/AdminHome">Admin home</a>
                </li>
                <li class="breadcrumb-item active">Klijenti</li>
            </ol>
            <div class="row">

                <div class="table">
                    <table class="table" style="width:99%">
                    
                            <thead>
                                <tr>
                                    <th><b>Ime</b></th>
                                    <th><b>Prezime</b></th>
                                    <th>Datum rođenja</th>
                                    <th>Email</th>
                                    <th>Telefon</th>
                                    <th>Adresa</th>
                                    <th>Korisničko ime</th>
                                    <th>Grad</th>
                                    <th>Akcija</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (KlijentiPrikaziVM.KlijentInfo x in Model.klijentStavke)
                                {
                                    <tr>
                                        <td>
                                            @x.Ime
                                        </td>
                                        <td>@x.Prezime</td>
                                        <td>@x.DatumRodjenja</td>
                                        <td>@x.Email</td>
                                        <td>@x.Telefon</td>
                                        <td>@x.Adresa</td>
                                        <td>@x.KorisnickoIme</td>
                                        <td>@x.Grad</td>
                                        <td>
                                            <p>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        @Html.ActionLink("Obriši", "Obrisi", new { id = x.KlijentId }, new { @class = "btn btn-danger" })
                                                       </div>
                                                    <div class="col-md-6">

                                                        @Html.ActionLink("Uredi", "Uredi", new { id = x.KlijentId }, new { @class = "btn btn-info" })
                                                        </div>
                                                    </div>
</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                      </div>
                </div>
                    
                </div>
            </div>
</body>
</html>

