<div>
    Podaci o naruciocu:<br />
    <span style="display:inline-block; width:100px;">
        @ViewBag.KorisnickoIme
        @ViewBag.KorisnickoAdresa
        @ViewBag.KorisnickiGrad
    </span>
    Podaci o narudzbi:<br />
    <span style="display:inline-block; width:100px;">
        @ViewBag.NarudzbaModel
        @ViewBag.NarudzbaCijena 
    </span>
</div>