@model RS1_P120_MobitelShop.Areas.ModulAdministracija.Models.AdminPrikaziVM
@using RS1_P120_MobitelShop.Areas.ModulAdministracija.Models
@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <table class="table">
        <thead>
            <tr>
                <th>Ime</th>
                <th>Prezime</th>
                <th>Datum rođenja</th>
                <th>Email</th>
                <th>Telefon</th>
                <th>Adresa</th>
                <th>Korisničko ime</th>
                <th>Grad</th>
                <th>Akcija</th>
            </tr>
        </thead>
        <tbody>
            @foreach (AdminPrikaziVM.AdminInfo x in Model.adminStavke)
            {
                <tr>
                    <td>
                        @x.Ime
                    </td>
                    <td>@x.Prezime</td>
                    <td>@x.DatumRodjenja</td>
                    <td>@x.Email</td>
                    <td>@x.Telefon</td>
                    <td>@x.Adresa</td>
                    <td>@x.KorisnickoIme</td>
                    <td>@x.Grad</td>
                    <td>
                        @Html.ActionLink("Obriši", "Obrisi", new { id = x.AdministratorId},new{ @class = "btn btn-danger" }) 
                        @Html.ActionLink("Uredi", "Uredi", new { id = x.AdministratorId }, new { @class = "btn btn-info" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
    </div>
</body>
</html>

